body {
    margin: 10px;
    background-image: url(http://www.bastida.biz/WebRoot/StoreES3/Shops/eb7627/4C4F/D4D5/A7AB/1277/8606/D94C/9B1E/E94E/04092gsalmon.jpg);
}

#principal {
    height: auto;
    margin: auto;
    border-radius: 4px;
    padding: 0px;
}

#cabecera {
    height: 160px;
    width: 100%;
}

#cabecera1 {
    height: 120px;
    background-color: #f8c143;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
}

#cabecera1>span {
    position: relative;
    right: 10px;
    top: 10px;
    font-size: 30px;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
}

#cabecera1>img {
    position: relative;
    top: 5px;
}

#franja {
    position: relative;
    height: 40px;
    background-color: silver;
    box-shadow: 2px 2px 5px #999;
}

#franja img{
    position: relative;
    top: 4px;
    width: 30px;
}

#franja audio{
    position: relative;
    top: 6px;
}

#opciones-navegacion {
    border: 0px;
    box-shadow: 2px 2px 5px #999;
}

#opciones-navegacion.navbar.navbar-inverse {
    margin-bottom: 0px;
}

#navbarCollapse {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-header .navbar-brand {
    border-right: 1px solid white;
}

#navbarCollapse>ul>li>a {
    border-right: 1px solid white;
}

#footer {
    text-align: center;
    color: black;
    background-color: silver;
    height: 20px;
    box-shadow: 2px 2px 5px #999;
}

input:focus {
    outline:none;
}