.img-responsive {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#general {
    background-color: #f8c143;
    box-shadow: 2px 2px 5px #999;
}

.panel-info {
    margin: 10px;
}

.panel-heading {
    text-align: center;
}

#carousel-imagenes {
    margin: 10px;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
}

.panel-info .panel-body .img-rounded {
    position: relative;
    left: 20px;
}

.panel-info .panel-body .glyphicon glyphicon-earphone {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
}

.panel-info .panel-body .glyphicon glyphicon-thumbs-up {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
}