.list-group {
    margin-top: 20px;
}

.list-group .img-rounded {
    width: 55px;
    margin-right: 20px;
}

.list-group a {
    font-size: 20px;
    font-family: "trebuchet ms", "arial", sans-serif;
}

.list-group li {
    font-size: 25px;
    font-family: "trebuchet ms", "arial", sans-serif;
}

#eastern{
    background-color:#c6f0ce;
    color:#158119;
}

#western{
    background-color:#f5c9c6;
    color:#81152e;
}