#galeria1 {
    background-image: url(http://www.futbolpollas.co/assets/img/backgrounds/1.jpg);
    height: 772px;
}

#galeria2 {
    background-image: url(http://www.futbolpollas.co/assets/img/backgrounds/1.jpg);
    height: 772px;
}
