.list-group {
    margin-top: 20px;
}

.list-group .img-rounded {
    width: 55px;
    margin-right: 20px;
}

.list-group a {
    font-size: 20px;
    font-family: "trebuchet ms", "arial", sans-serif;
}

.list-group li {
    font-size: 25px;
    font-family: "trebuchet ms", "arial", sans-serif;
}

#equipos{
  text-align: center;
  background-color: #f8c143;
}

#columnas{
  padding-left: 0px;
  padding-right: 0px;
}

#botonAgregar>img{
    width: 40px;
}

#botonAgregar{
    background-color: #12be20;
    display:inline-block;
    border:1px solid #899caa;
    border-radius:5px;
    position:relative;
    cursor:pointer;
    font-style: none;
    color: white;
}

#botonAgregar:hover{
    background-color: #72c378;
}
