<div id="principal" class="container">
        <ol id="breadcrumb">
            <li>
                <a href="Pruebas.html"><img class="img-rounded" src="http://4.bp.blogspot.com/_A0w2msagD40/SSrCvRwW5cI/AAAAAAAACb8/guoEtikOYSc/s1600/imagen_flecha_derecha%5B1%5D.gif">Home</a>
            </li>
            <li id="raya">/</li>
            <li id="active">New Player</li>
        </ol>
        <div id="cuerpo">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Form to add a new player</h3>
                        </div>
                        <div class="panel-body">
                            <form name="formplayer" action="#" method="post">
                                <fieldset>
                                    <legend>Personal information:</legend>
                                    <div class="col-xs-6">
                                        <p>
                                            <b>Name*:</b>
                                            <input type='text' class="form-control" name='name' placeholder="Name" id="name" required/>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Surnames*:</b>
                                            <input type='text' class="form-control" name='surnames' placeholder="Surnames" id="surnames" required/>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Age*:</b>
                                            <input type='number' class="form-control" name='age' pattern="[0-9]{2}" min="18" max="99" placeholder="+18" id="age" required/>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Nacionality*:</b>
                                            <input type='text' class="form-control" name='nacionality' placeholder="Nacionality" id="nacionality" required/>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Position*:</b>
                                            <select name="Position" class="form-control" id="position">
                                                <option value="Goalkeeper">Goalkeeper</option>
                                                <option value="Defense">Defense</option>
                                                <option value="Midfield">Midfield</option>
                                                <option value="Forward">Forward</option>
                                            </select>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Email*:</b>
                                            <input type='text' class="form-control" name='email' placeholder="Email" id="email" required/>
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <p>
                                            <b>Postal Code:</b>
                                            <input type='text' class="form-control" name='postalcode' pattern="[0-9]{5}" placeholder="12345" id="postalcode" />
                                        </p>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="radio">
                                            <b>Gender:</b>
                                            <label for="women">
                                                <input type="radio" name="gender" value="women" id="women" checked> Women
                                            </label>
                                            <label for="men">
                                                <input type="radio" name="gender" value="men" id="men"> Men
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <form method="post" enctype="multipart/form-data">
                                            <b>Image:</b>
                                            <input type=file size=60 name="file1">
                                        </form>
                                        <br>
                                    </div>

                                    <div class="col-xs-12">
                                        <p>Items marked with * will be required by the form.</p>
                                    </div>

                                    <div class="col-xs-6">
                                        <input type='submit' name='enviar' value='Submit' />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div id="galeria">
                    </div>
                </div>
            </div>
        </div>
    </div>
