<div id="principal" class="container">
        <div id="cabecera">
            <div id="cabecera1" class="panel-heading">
                <img src="https://fanart.tv/fanart/movies/9942/hdmovielogo/major-league-51034af92ecc0.png" class="img-circle" width="115" height="75">
                <span>Major League Football</span>
            </div>
            <div id="franja" class="panel-body">
                <div id="login">
                    <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-128.png" class="img-circle" alt="Login" width="35" height="35">
                    <button type="button" class="btn btn-info">Login</button>
                </div>
            </div>
        </div>
        <nav role="navigation" class="navbar navbar-inverse" id="opciones-navegacion">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">MLF</a>
            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </nav>
        <section id="eslogan">
            <div class="jumbotron hidden-xs">
                <h2>WELCOME TO MAJOR LEAGUE FOOTBALL WEBPAGE</h2>
                <p>MLF is a website where you can add your own team, your players and know all the news about your favorite team.</p>
            </div>
        </section>
        <section id="general">
            <div class="container">
                <div class="page-header">
                    <div id="header">
                        <h3>Participate in our league: <small>On this website you can find information about:</small></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:rgba(59, 145, 229, 0.85)">
                                <h3><b>Teams</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <img src="http://publicdomainvectors.org/photos/soccer.png" class="img-responsive">
                                    <br>
                                </div>
                            </div>
                            <div class="panel-footer" style="background-color:rgba(59, 145, 229, 0.85)">
                                <h5><b>Enjoy our services and add your own team to the league.</b></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:rgba(20, 206, 85, 0.78)">
                                <h3><b>Football players</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <img src="https://image.spreadshirtmedia.net/image-server/v1/designs/15459667,width=178,height=178,version=1385642627/Saksespark-fodbold-fodboldspiller-Bicycle-Kick--.png" class="img-responsive">
                                    <br>
                                </div>
                            </div>
                            <div class="panel-footer" style="background-color:rgba(20, 206, 85, 0.78)">
                                <h5><b>Become the best football player and lead your team to victory.</b></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:rgba(239, 67, 74, 0.78)">
                                <h3><b>Matches</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <img src="http://freeiconbox.com/icon/256/26722.png" class="img-responsive">
                                    <br>
                                </div>
                            </div>
                            <div class="panel-footer" style="background-color:rgba(239, 67, 74, 0.78)">
                                <h5><b>Schedules , results and more about all the teams in our league</b></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:rgba(163, 125, 208, 0.94)">
                                <h3><b>News Forum</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <img src="https://image.freepik.com/iconos-gratis/periodico_318-48105.png" class="img-responsive">
                                    <br>
                                </div>
                            </div>
                            <div class="panel-footer" style="background-color:rgba(163, 125, 208, 0.94)">
                                <h5><b>Add and read news about your team and your players.</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="players" class="hidden-xs">
            <div class="container">
                <div class="page-header">
                    <div id="header2">
                        <h3>Some of players in our league: <small>Become one of the them</small></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://img.uefa.com/imgml/TP/players/1/2015/324x324/70482.jpg" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Didier Drogba</li>
                                    <li><b>Team:</b>Montreal Impact</li>
                                    <li><b>Age:</b>38</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/95803.jpg" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Lionel Messi</li>
                                    <li><b>Team:</b>FC Barcelona</li>
                                    <li><b>Age:</b>28</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/63706.jpg" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Cristiano Ronaldo</li>
                                    <li><b>Team:</b>Real Madrid</li>
                                    <li><b>Age:</b>31</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/101672.jpg" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Alvaro Negredo</li>
                                    <li><b>Team:</b>Valencia CF</li>
                                    <li><b>Age:</b>30</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="teams" class="hidden-xs">
            <div class="container">
                <div class="page-header">
                    <div id="header">
                        <h3>Some of teams in our league: <small>Turn your football team in one of these.</small></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/17.png" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Valencia C.F</li>
                                    <li><b>Coach:</b>Pako Ayestaran</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://3.bp.blogspot.com/-W28WNiqbNWk/VeU61TwEbWI/AAAAAAAAAho/fcj9ExtJzdE/s1600/Montreal%2BImpact%2BFC.png" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Montreal Impact</li>
                                    <li><b>Coach:</b>Mauro Biello</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://4.bp.blogspot.com/-vB9Ip3l-blE/VeU65PBAaKI/AAAAAAAAAiE/OKRRuXC0-ww/s1600/New%2BYork%2BRed%2BBulls.png" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>New York Red Bulls</li>
                                    <li><b>Coach:</b>Jesse Marsch</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/91.png" class="img-circle">
                                <ul>
                                    <li><b>Name:</b>Cadiz C.F</li>
                                    <li><b>Coach:</b>Alvaro Cervera</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3" id="contacto">
                        <h3>Contact:</h3>
                        <span class="glyphicon glyphicon-envelope"></span> Email: AmuntCorporation@alumnos.urjc.es
                        <br>
                        <span class="glyphicon glyphicon-earphone"></span> Telefono: 916 20 76 33
                        <br>
                        <span class="glyphicon glyphicon-home"></span> Address: Daw Street, Chicago, Illinois.
                    </div>
                    <div class="col-md-3 btn-group" id="redes">
                        <h3>Social networks:</h3>
                        <a class="btn" href="https://www.facebook.com/"><img src="http://4.bp.blogspot.com/-LhQsVDBynSI/VX6H1SHyzbI/AAAAAAAAAAc/N6PWXCZg1xs/s215/FacebookURL-128.png" width="50px" height="50px"></a>
                        <a class="btn" href="https://twitter.com/?lang=es"><img src="https://www.missionmanager.com/wp-content/uploads/2016/03/Twitter-icon.png" width="50px" height="50px"></a>
                        <a class="btn" href="https://www.instagram.com/"><img src="http://igfollowlike.androidcheatengine.com/img/instagram-icon-32x32.png" width="50px" height="50px"></a>
                    </div>
                    <div class="col-md-3" id="member" align="center">
                        <h3>Designers:</h3>
                        <ul>
                            <li>Fernando Lopez Nieto, URJC</li>
                            <li>Alvaro Parras Gomez, URJC</li>
                            <li>Victor Sanchez Muñoz, URJC</li>
                            <li id="non-style"><span class="glyphicon glyphicon-copyright-mark"></span> Design by Amunt Corporation (Fernando Lopez, Alvaro Parras, Victor Sanchez)</li>
                        </ul>
                        <br>
                    </div>
                    <div class="col-md-3" id="member" align="center">
                        <h3>Information:</h3>
                        <ul>
                            <li>Desarrollo de Aplicaciones Web</li>
                            <li>Grado en Ingeniería del Software</li>
                            <li>2015-2016</li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </footer>
    </div>