<div id="principal" class="container">
          <ol id="breadcrumb">
              <li>
                  <a href="Pruebas.html"><img class="img-rounded" src="http://4.bp.blogspot.com/_A0w2msagD40/SSrCvRwW5cI/AAAAAAAACb8/guoEtikOYSc/s1600/imagen_flecha_derecha%5B1%5D.gif">Home</a>
              </li>
              <li id="raya">/</li>
              <li><a id="active">New Team</a>
              </li>
          </ol>
          <div id="cuerpo">
              <div class="row">
                  <div class="col-md-2 hidden-sm hidden-xs">
                      <div id="galeria1">
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="panel panel-warning">
                          <div class="panel-heading">
                              <h3 class="panel-title">Form to add a new team</h3>
                          </div>
                          <div class="panel-body">
                              <form name="formteam" action="#" method="post">
                                  <fieldset>
                                      <legend>Sheet football team:</legend>
                                      <div class="col-xs-6">
                                          <p>
                                              <b>Date*:</b>
                                              <input [(ngModel)]="match.date" type='text' class="form-control" name='fullname' placeholder="Full Name" id="fullname" required/>
                                          </p>
                                      </div>

                                      <div class="col-xs-6">
                                          <p>
                                              <b>Local*:</b>
                                              <select [(ngModel)]="idlocal" name="Position" class="form-control" id="position">
                                                  <option *ngFor="#team of teams" value={{team.id}}>{{team.fullname}}</option>
                                              </select>
                                          </p>
                                      </div>

                                      <div class="col-xs-6">
                                          <p>
                                              <b>Visitor*:</b>
                                              <select [(ngModel)]="idvisitor" name="Position" class="form-control" id="position">
                                                  <option *ngFor="#team of teams" value={{team.id}}>{{team.fullname}}</option>
                                              </select>
                                          </p>
                                      </div>

                                  </fieldset>
                                  <fieldset>
                                      <legend>Image gallery:</legend>

                                      <div class="col-xs-6">
                                          <p>
                                          <b>Football Shield*:</b>
                                          <input type='text' class="form-control" name='imgequipo' placeholder="Imagen Equipo" id="imgequipo"/>
                                          </p>
                                      </div>

                                  </fieldset>

                                  <div class="col-xs-12">
                                      <p>Items marked with * will be required by the form.</p>
                                  </div>

                                  <div class="col-xs-6">
                                      <input (click)="save()" type='submit' name='enviar' value='Submit' />
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 hidden-xs hidden-sm">
                      <div id="galeria2">
                      </div>
                  </div>
              </div>
          </div>
