<div id="principal" class="container">
    <section id="eslogan">
        <div class="jumbotron hidden-xs">
            <h2>WELCOME TO MAJOR LEAGUE FOOTBALL WEBPAGE</h2>
            <p>MLF is a website where you can add your own team, your players and know all the news about your favorite team.</p>
        </div>
    </section>
    <section id="general">
        <div class="container">
            <div class="page-header">
                <div id="header">
                    <h3>Participate in our league: <small>On this website you can find information about:</small></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:rgba(59, 145, 229, 0.85)">
                            <h3><b>Teams</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <img src="app/img/Teams.png" class="img-responsive">
                                <br>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color:rgba(59, 145, 229, 0.85)">
                            <h5><b>Enjoy our services and add your own team to the league.</b></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:rgba(20, 206, 85, 0.78)">
                            <h3><b>Football players</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <img src="app/img/FootballPlayers.png" class="img-responsive">
                                <br>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color:rgba(20, 206, 85, 0.78)">
                            <h5><b>Become the best football player and lead your team to victory.</b></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:rgba(239, 67, 74, 0.78)">
                            <h3><b>Matches</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <img src="app/img/Matches.png" class="img-responsive">
                                <br>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color:rgba(239, 67, 74, 0.78)">
                            <h5><b>Schedules , results and more about all the teams in our league</b></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:rgba(163, 125, 208, 0.94)">
                            <h3><b>News Forum</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <img src="app/img/NewsForum.png" class="img-responsive">
                                <br>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color:rgba(163, 125, 208, 0.94)">
                            <h5><b>Add and read news about your team and your players.</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="players" class="hidden-xs">
        <div class="container">
            <div class="page-header">
                <div id="header2">
                    <h3>Some of players in our league: <small>Become one of the them</small></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://img.uefa.com/imgml/TP/players/1/2015/324x324/70482.jpg" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Didier Drogba</li>
                                <li><b>Team:</b>Montreal Impact</li>
                                <li><b>Age:</b>38</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/95803.jpg" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Lionel Messi</li>
                                <li><b>Team:</b>FC Barcelona</li>
                                <li><b>Age:</b>28</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/63706.jpg" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Cristiano Ronaldo</li>
                                <li><b>Team:</b>Real Madrid</li>
                                <li><b>Age:</b>31</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://img.uefa.com/imgml/TP/players/1/2016/324x324/101672.jpg" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Alvaro Negredo</li>
                                <li><b>Team:</b>Valencia CF</li>
                                <li><b>Age:</b>30</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="teams" class="hidden-xs">
        <div class="container">
            <div class="page-header">
                <div id="header">
                    <h3>Some of teams in our league: <small>Turn your football team in one of these.</small></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/17.png" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Valencia C.F</li>
                                <li><b>Coach:</b>Pako Ayestaran</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://3.bp.blogspot.com/-W28WNiqbNWk/VeU61TwEbWI/AAAAAAAAAho/fcj9ExtJzdE/s1600/Montreal%2BImpact%2BFC.png" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Montreal Impact</li>
                                <li><b>Coach:</b>Mauro Biello</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://4.bp.blogspot.com/-vB9Ip3l-blE/VeU65PBAaKI/AAAAAAAAAiE/OKRRuXC0-ww/s1600/New%2BYork%2BRed%2BBulls.png" class="img-circle">
                            <ul>
                                <li><b>Name:</b>New York Red Bulls</li>
                                <li><b>Coach:</b>Jesse Marsch</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/91.png" class="img-circle">
                            <ul>
                                <li><b>Name:</b>Cadiz C.F</li>
                                <li><b>Coach:</b>Alvaro Cervera</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
