<div id="principal" class="container">
        <ol id="breadcrumb">
            <li>
                <a [routerLink]="['Principal']"><img class="img-rounded" src="http://4.bp.blogspot.com/_A0w2msagD40/SSrCvRwW5cI/AAAAAAAACb8/guoEtikOYSc/s1600/imagen_flecha_derecha%5B1%5D.gif">Home</a>
            </li>
            <li id="raya">/</li>
            <li id="active">Schedule: Journey 2</li>
        </ol>
        <div id="cuerpo">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <span><h4>First Round</h4> Journeys:</span>
                    <div class="btn-group" role="group" aria-label="Primera vuelta">
                        <input (click)="gotoSchedule2()" value="1" type="button" class="btn btn-default">
                        <button id="number-active" type="button" class="btn btn-default">2</button>
                        <input onclick="location='Schedule2.html'" value="3" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="4" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="5" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="6" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="7" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="8" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="9" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="10" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="11" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="12" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="13" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="14" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="15" type="button" class="btn btn-default">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <span><h4>Second Round</h4> Journeys:</span>
                    <div class="btn-group" role="group" aria-label="Segunda vuelta">
                        <input onclick="location='Schedule2.html'" value="16" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="17" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="18" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="19" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="20" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="21" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="22" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="23" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="24" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="25" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="26" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="27" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="28" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="29" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="30" type="button" class="btn btn-default">
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Journey 2</h4>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Local</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="time">Friday 31 12:00 March</td>
                            <td>
                                <a [routerLink]="['Equipo']"><img class="img-rounded" src="http://www.bold.dk/img/tag/64x64/758.png">Montreal Impact</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://www.moddingway.com/fifadb/teams/l687.png">Columbus Crew</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Friday 31 16:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://futhead.cursecdn.com/static/img/15/clubs/689.png">New York Red Bulls</a>

                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xUnion-Crest-300x300-64x64.png.pagespeed.ic.HdFRutSXUM.png">Philadelphia Union</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Friday 31 20:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://www.bold.dk/img/tag/64x64/742.png">D.C United</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2015/03/xorlando-city-sc-64x64.png.pagespeed.ic.I1R3ly18C-.png">Orlando City</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 1 18:00 April</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://futhead.cursecdn.com/static/img/15/clubs/111651.png">Toronto FC</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://thisisfootball.dk/wp-content/uploads/2013/09/xchicago-fire-logo-64x64.png.pagespeed.ic.kshhtzY5gF.png">Chicago Fire</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 1 20:00 April</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xPortland_Timbers_MLS_logo.svg_1-64x64.png.pagespeed.ic.V99pB6RgY3.png">Portland Timbers</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://footytweets.com/images/team_logos/130.png">LA Galaxy</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 1 22:00 April</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://adn.fcupdate.nl/clubs/medium/28996.png">Seattle Sounders FC</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xfc-dallas-logo-64x64.png.pagespeed.ic.7Z29WTYJC9.png">FC Dallas</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Sunday 2 18:00 April</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://static.oddschecker.com/content/team-badges/football/1763.png?v=11.0.0">Sporting Kansas City</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xvancouver-whitecaps-fc-hd-logo-64x64.png.pagespeed.ic.ulCgt0bJ9G.png">Vancouver Whitecaps</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Sunday 2 20:00 April</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xsan-jose-earthquakes-logo-64x64.png.pagespeed.ic.Ep5PkwAkfG.png">San Jose Earthquakes</a>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>/</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://futhead.cursecdn.com/static/img/15/clubs/694.png">Colorado Rapids</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
