<div id="principal" class="container">
        <ol id="breadcrumb">
            <li>
                <a [routerLink]="['Principal']"><img class="img-rounded" src="app/img/Arrow.gif">Home</a>
            </li>
            <li id="raya">/</li>
            <li id="active">Schedule: Journey {{schedule.id}}</li>
        </ol>
        <div class="row">
          <div class="col-md-8 col-sm-8 xs-hidden"></div>
          <div *ngIf="loginService.isLogged" class="col-md-2 col-sm-2 col-xs-12">
            <button (click)="save()" id="botonAgregar"><img src="app/img/Add.png"> Add Schedule</button>
          </div>
          <div *ngIf="loginService.isLogged" class="col-md-2 col-sm-2 col-xs-12">
            <button (click)="newMatch()" id="botonAgregar"><img src="app/img/Add.png"> Add Match</button>
          </div>
        </div>
        <div id="cuerpo">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <span>Journeys:</span>
                    <div class="btn-group" role="group" aria-label="Primera vuelta" *ngFor="#schedulefor of schedules">
                        <button (click)="gotoSchedule(schedulefor)" type="button" class="btn btn-default">{{schedulefor.id}}</button>
                        <!-- <input (click)="gotoSchedule2()" value="2" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="3" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="4" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="5" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="6" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="7" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="8" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="9" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="10" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="11" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="12" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="13" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="14" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="15" type="button" class="btn btn-default"> -->
                    </div>
                </div>
                <!-- <div class="col-md-6 col-xs-12 col-sm-12">
                    <span><h4>Second Round</h4> Journeys:</span>
                    <div class="btn-group" role="group" aria-label="Segunda vuelta">
                        <input onclick="location='Schedule2.html'" value="16" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="17" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="18" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="19" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="20" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="21" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="22" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="23" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="24" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="25" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="26" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="27" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="28" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="29" type="button" class="btn btn-default">
                        <input onclick="location='Schedule2.html'" value="30" type="button" class="btn btn-default">
                    </div>
                </div> -->
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Journey {{schedule.id}}</h4>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Local</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Visitor</th>
                            <th *ngIf="loginService.isLogged"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="#match of matches">
                        <tr *ngIf="schedule.id == match.schedule.id">
                            <td id="time"><span>{{match.date}}</span></td>
                            <td>
                                <a [routerLink]="['TeamDetail', {id: match.local.id}]"><img class="img-rounded" src={{match.local.imgescudo}}>{{match.local.fullname}}</a>
                            </td>
                            <td id="result">
                                <h4>{{match.resultLocal}}</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>{{match.resultVisitor}}</h4>
                            </td>
                            <td>
                                <a [routerLink]="['TeamDetail', {id: match.visitor.id}]"><img class="img-rounded" src={{match.visitor.imgescudo}}>{{match.visitor.fullname}}</a>
                            </td>
                            <td *ngIf="loginService.isLogged">
                              <button (click)="removeMatch(match)">Remove</button>
                              <button (click)="editMatch(match.id)">Edit</button>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td id="time">Friday 24 16:00 March</td>
                            <td>
                                <a [routerLink]="['TeamNew']"><img class="img-rounded" src="http://www.bold.dk/img/tag/64x64/758.png">Montreal Impact</a>
                            </td>
                            <td id="result">
                                <h4>2</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>0</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xUnion-Crest-300x300-64x64.png.pagespeed.ic.HdFRutSXUM.png">Philadelphia Union</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Friday 24 20:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://thisisfootball.dk/wp-content/uploads/2013/09/xchicago-fire-logo-64x64.png.pagespeed.ic.kshhtzY5gF.png">Chicago Fire</a>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2015/03/xorlando-city-sc-64x64.png.pagespeed.ic.I1R3ly18C-.png">Orlando City</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 25 18:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://futhead.cursecdn.com/static/img/15/clubs/111651.png">Toronto FC</a>
                            </td>
                            <td id="result">
                                <h4>0</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>0</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://www.bold.dk/img/tag/64x64/742.png">D.C United</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 25 20:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xfc-dallas-logo-64x64.png.pagespeed.ic.7Z29WTYJC9.png">FC Dallas</a>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>0</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://footytweets.com/images/team_logos/130.png">LA Galaxy</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Saturday 25 22:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://adn.fcupdate.nl/clubs/medium/28996.png">Seattle Sounders FC</a>
                            </td>
                            <td id="result">
                                <h4>3</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>0</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xPortland_Timbers_MLS_logo.svg_1-64x64.png.pagespeed.ic.V99pB6RgY3.png">Portland Timbers</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Sunday 26 18:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xsan-jose-earthquakes-logo-64x64.png.pagespeed.ic.Ep5PkwAkfG.png">San Jose Earthquakes</a>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://heycdn.thisisfootball.com/wp-content/uploads/2013/09/xvancouver-whitecaps-fc-hd-logo-64x64.png.pagespeed.ic.ulCgt0bJ9G.png">Vancouver Whitecaps</a>
                            </td>
                        </tr>
                        <tr>
                            <td id="time">Sunday 26 20:00 March</td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://static.oddschecker.com/content/team-badges/football/1763.png?v=11.0.0">Sporting Kansas City</a>
                            </td>
                            <td id="result">
                                <h4>1</h4>
                            </td>
                            <td id="result">
                                <h4>-</h4>
                            </td>
                            <td id="result">
                                <h4>2</h4>
                            </td>
                            <td>
                                <a href="#"><img class="img-rounded" src="http://futhead.cursecdn.com/static/img/15/clubs/694.png">Colorado Rapids</a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p *ngIf="loginService.isLogged">

        <button (click)="removeSchedule()">Remove</button>
        <br>

    </p>
