<div id="principal" class="container">
          <ol id="breadcrumb">
              <li>
                  <a href="Pruebas.html"><img class="img-rounded" src="app/img/Arrow.gif">Home</a>
              </li>
              <li id="raya">/</li>
              <li><a id="active">New Team</a>
              </li>
          </ol>
          <div id="cuerpo">
              <div class="row">
                  <div class="col-md-2 hidden-sm hidden-xs">
                      <div id="galeria1">
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="panel panel-warning">
                          <div class="panel-heading">
                              <h3 class="panel-title">Form to add a new team</h3>
                          </div>
                          <div class="panel-body">
                              <form name="formteam" action="#" method="post">
                                  <fieldset>
                                      <legend>Sheet football team:</legend>
                                      <div class="col-xs-12 col-lg-7 col-md-7 col-sm-7">
                                          <p>
                                              <b>Full name*:</b>
                                              <input [(ngModel)]="team.fullname" type='text' class="form-control" name='fullname' placeholder="Full Name" id="fullname" required/>
                                          </p>
                                      </div>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                              <b>Description*:</b>
                                              <textarea [(ngModel)]="team.description" class="form-control" rows="5" name="description" placeholder="Add a litte description about the football team" id="description"></textarea>
                                          </p>
                                      </div>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                              <b>History*:</b>
                                              <textarea [(ngModel)]="team.history" class="form-control" rows="5" name="history" placeholder="Add a little description about the history of the team" id="history"></textarea>
                                          </p>
                                      </div>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                              <b>Coach*:</b>
                                              <input type='text' class="form-control" name='coach' placeholder="Coach" id="coach" required/>
                                          </p>
                                      </div>

                                  </fieldset>
                                  <fieldset>
                                      <legend>Image gallery:</legend>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                              <b>Football Shield*:</b>
                                              <input [(ngModel)]="team.imgescudo" type='text' class="form-control" name='footballShield' placeholder="Football Shield" id="footballshield" required/>
                                          </p>
                                      </div>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                            <b>Team Image*:</b>
                                            <input  [(ngModel)]="team.imgequipo" type='text' class="form-control" name='imgequipo' placeholder="Team Image" id="imgequipo" required/>
                                          </p>
                                      </div>

                                      <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                                          <p>
                                            <b>Team Equipment*:</b>
                                            <input  [(ngModel)]="team.imgequipment" type='text' class="form-control" name='imgequipment' placeholder="Team Equipment" id="imgequipment" required/>
                                          </p>
                                      </div>

                                  </fieldset>

                                  <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                      <p>Items marked with * will be required by the form.</p>
                                  </div>

                                  <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2">
                                      <input (click)="save()" type='submit' name='enviar' value='Submit' />
                                  </div>

                              </form>
                              <div class="col-xs-12 col-lg-10 col-md-10 col-sm-10">
                                  <button (click)="cancel()" name='cancel'>Cancel</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 hidden-xs hidden-sm">
                      <div id="galeria2">
                      </div>
                  </div>
              </div>
          </div>
